
.heading-block::after{visibility:hidden;}

.heading-section{padding-top:30px; padding-bottom:10px;}

.portfolio-full .portfolio-item{margin: 1px !important;}

.ipost .entry-image .post-date{position:absolute; z-index: 100; bottom:0; right:0; float:right; background:#555; opacity:0.8; padding:2px 8px; display:block; font-size:12px; color:white; }

#footer.dark, .dark #footer{background-color:#585451;}

.dark #copyrights{background:rgba(70, 67, 64, 0.5)}

.dark #footer .social-icon.si-borderless, #footer.dark .social-icon.si-borderless{color:#888 !important;}

.widget_links ul li{border-bottom: 2px dotted #444}

.widget_links ul li a{font-size: 20px; padding-left: 0 !important; background-image: none !important}

.footer-counter span{color:#333 !important;}

.counter-caption{padding-left:5px}

.dark .slider-caption p{margin:0 150px;}

#header, #header-wrap, #logo img, #primary-menu:not(.style-2), #primary-menu:not(.style-2) > ul{height:80px;}
#primary-menu ul li{line-height:80px;}
#primary-menu ul li a{height:80px; line-height: 80px;}
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li{line-height:60px;}


@media (min-width: 1156px) and (max-width: 1437px)
{
	#primary-menu ul li a{padding: 0 5px; letter-spacing:0; font-size: 14px;}
	#header.full-header #primary-menu > ul{margin-right: 10px; padding-right: 10px;}
}


@media (min-width: 992px) and (max-width: 1155px)
{
	#primary-menu ul li a{padding: 0 3px; letter-spacing:0; font-size: 11px;}
	#header.full-header #primary-menu > ul{margin-right: 2px; padding-right: 2px;}
}

@media (max-width: 991px) 
{
	#logo img{margin-top: 20px}
	#header, #header-wrap, #logo img, #primary-menu:not(.style-2), #primary-menu:not(.style-2) > ul{height:60px;}
	
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover a, 
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current a, 
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover a, 
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current a
	{ color: #ff0 !important }
	
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul ul a, 
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover ul a, 
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current ul a, 
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover ul a, 
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current ul a
	{ color: #fff !important }
	
	#top-search a, #top-cart, #side-panel-trigger{margin: 30px 0;}
	#logo{height: 80px;}
	#logo img{margin-top: 10px}
	#primary-menu-trigger{top:15px;}
	
	/* Common */
	
	.hidden-xs-sm {display: none;}
	
}



/* Style Overwrite Starts */

body
{font-weight: 400}

body h1, body h1, body h3, body h4, body h5, body h6
{font-weight: 700}


.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4
{font-weight: 300}

.emphasis-title h1,
.emphasis-title h2
{font-weight: 100}

.top-links li > a
{font-weight: 700}

.header-extras li .he-text span
{font-weight: 400}


#primary-menu ul li a
{font-weight: 300}

#primary-menu ul ul a
{font-weight: 700}

#primary-menu.sub-title ul li span
{font-weight: 400}

#top-search form input 
{font-weight: 900}

.top-cart-item-desc a
{font-weight: 700}


#page-menu .menu-title
{font-weight: 300}

#page-menu .menu-title span 
{ font-weight: 700; }


.slider-caption, .nivo-caption, .flex-caption
{ font-weight: 300; }

.slider-caption h2
{ font-weight: 900; }

.slider-caption-bg.slider-caption-bg-light
{ font-weight: 400; }

#slide-number
{ font-weight: 300; }

#page-title h1
{ font-weight: 700; }

#page-title span
{ font-weight: 300; }

#page-title.page-title-parallax h1, #page-title.page-title-mini h1
{ font-weight: 700; }

#portfolio.portfolio-parallax .portfolio-desc h3
{ font-weight: 300; }

.portfolio-overlay .portfolio-desc h3
{ font-weight: 700; }

.portfolio-single-content h2
{ font-weight: 700 !important; }

.entry-title h2, .entry-meta li ins
{ font-weight: 700; }

.entry-link
{ font-weight: 900; }

.entry blockquote p
{ font-weight: 400; }

.small-thumbs .entry-title h2,
.ievent .entry-title h2
{ font-weight: 900; }


.post-grid .entry-title h2, .ipost .entry-title h3, .ipost .entry-title h4, .spost .entry-title h4, .mpost .entry-title h4, .mpost .entry-title h4, .product-price 
{ font-weight: 700; }


.product-price del
{ font-weight: 400; }

.countdown-large .countdown-amount, .button
{ font-weight: 700; }

.button.button-desc span
{ font-weight: 400; }

.button.button-border
{ font-weight: 700; }

.button.button-full
{ font-weight: 300; }

.button.button-full strong
{ font-weight: 700; }

.promo > span,
.promo > .container > span
{ font-weight: 300; }


.promo.promo-dark > h3 span,
.promo.promo-dark > .container > h3 span
{ font-weight: 400; }

.feature-box h3
{ font-weight: 700; }

.feature-box h3 span.subtitle, .process-steps li h5
{ font-weight: 300; }


.process-steps li.active h5, .process-steps li.ui-tabs-active h5, .toggle .togglet, .toggle .toggleta
{ font-weight: 700; }


.accordion.accordion-lg .acctitle
{ font-weight: 400; }


.sidenav > .ui-tabs-active > a,
.sidenav > .ui-tabs-active > a:hover
{ font-weight: 700; }

.team-title h4
{ font-weight: 900; }

.team-title span
{ font-weight: 400; }

.pricing-title span, .pricing-price, .pricing-box.pricing-extended .pricing-action-area .pricing-price span.price-tenure, .pricing-box.pricing-extended .pricing-meta
{ font-weight: 300; }

.counter
{ font-weight: 700; }

.counter.counter-xlarge, .counter + h5
{ font-weight: 400; }


.counter.counter-large + h5,
.counter.counter-xlarge + h5
{ font-weight: 300; }


.skills li .progress-percent .counter
{ font-weight: 400; }

.text-overlay-title h3, .news-carousel .rounded-skill
{ font-weight: 700; }


label
{ font-weight: 900; }

label.error
{ font-weight: 400; }

.title-block > span
{ font-weight: 300; }

.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4
{ font-weight: 900; }

.emphasis-title h1, .emphasis-title h2
{ font-weight: 400; }

.heading-block > span:not(.before-heading)
{ font-weight: 300; }

.emphasis-title h1 strong, .emphasis-title h2 strong
{ font-weight: 900; }


.before-heading 
{ font-weight: 400; }

.error404
{ font-weight: 600; }


.error404-wrap .heading-block h4 
{ font-weight: 300; }

.widget > h4
{ font-weight: 700; }

.subscribe-widget h5
{ font-weight: 300; }

.nav-tree li a
{ font-weight: 900; }

.wedding-head .first-name span, .wedding-head .last-name span, .responsive-utilities th small
{ font-weight: 400; }

.dark .skills li > span
{ font-weight: 700; }









#content p{font-size: 18px; line-height:26px;}
.counter.counter-small{font-size: 24px}




/* Style Overwrite Ends */


/* Common Starts */



.font-thin
{font-weight: 100}

.font-light
{font-weight: 300}

strong, .font-ultra-bold
{font-weight: 900}


/* Common End */




/*

@media (min-width: 1199px) and (max-width: 1360px) 
{
	#primary-menu ul li a{font-size:16px;}
}

@media (min-width: 991px) and (max-width: 1200px) 
{
	
}

@media (min-width: 1049px) and (max-width: 1200px) 
{
	#header.full-header #primary-menu > ul{margin-right:10px; padding-right:10px;}
	#primary-menu ul li a{font-size:15px; padding:0 5px;}
}

@media (min-width: 991px) and (max-width: 1048px) 
{
	#header.full-header #primary-menu > ul{margin-right:10px; padding-right:10px;}
	#primary-menu ul li a{font-size:14px; padding:0 5px;}
}


@media (min-width: 767px) and (max-width: 992px)
{
	#header.full-header #primary-menu > ul{margin-right:10px; padding-right:10px;}
	#primary-menu ul li a{font-size:14px; padding:0 5px;}
}


@media (max-width: 768px) 
{
	#header.full-header #primary-menu > ul{margin-right:10px; padding-right:10px;}
}



*/


